<h2>Welcome to Funny</h2>
<h3>Page list</h3>
<div id="owlslider" class="owl-carousel owl-theme">
    <?php
    foreach ($block->getListFunny() as $value) {
        echo '<ul>';
        echo '<li>';
        echo '<div class="item"><h4>' . $value->getName() . '</h4></div>';
        echo '<div class="item"><h4>' . $value->getDob() . '</h4></div>';
        echo '<div class="item"><h4>' . $value->getDescription() . '</h4></div>';
        echo '</li>';
        echo '</ul>';
    }
    ?>
</div>

<script type="text/javascript" xml="space">
    require([
        'jquery',
        'owlcarousel'
    ], function ($) {
        $('#owlslider').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 5
                }
            }
        })
    });
</script>

<hr>
<hr>
<hr>
<h3>Widget list</h3>
<div id="widgetowl" class="owl-carousel"
     data-mage-init='{"Bss_Funny/js/popup": {
     "loop":true,
    "margin":10,
    "nav":true,
    "responsive":{
        "0":{
            "items":1
        },
        "600":{
            "items":3
        },
        "1000":{
            "items":5
        }
    }}}'>
    <?php
    foreach ($block->getListFunny() as $value) {
        echo '<ul>';
        echo '<li>';
        echo '<div class="item"><h4>' . $value->getName() . '</h4></div>';
        echo '<div class="item"><h4>' . $value->getDob() . '</h4></div>';
        echo '<div class="item"><h4>' . $value->getDescription() . '</h4></div>';
        echo '</li>';
        echo '</ul>';
    }
    ?>
</div>
